*.iml
.gradle
/local.properties
/.idea/
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
release/
src/main/java/mvpbase/adapter/
src/main/res/drawable-v24/
src/main/res/mipmap-anydpi-v26/
/lswutils/build/
app/src/main/java/com/mvp/demo/adapter/
app/src/main/res/drawable-v24/
app/src/main/res/mipmap-anydpi-v26/
lswutils/libs/
lswutils/src/main/java/hh/
mvpframe/libs/
mvpframe/src/main/java/com/lsw/mvpframe/mvpbase/adapter/
mvpframe/src/main/res/drawable/
