*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
release/
src/main/java/mvpbase/adapter/
src/main/res/drawable-v24/
src/main/res/mipmap-anydpi-v26/
/lswutils/build/
